@import "rounded-corners.less";

.node {

	margin-bottom: 1em;
	font-size: 66%;

	.data{

		.bar{
			border-color: blue;
			border-style: solid;
			background-color: blue;
			height: 1em;
		}

	}

	&.depth0 {
	}

	&.depth1 {
		border-bottom: thin solid black;
	}

	&.depth2 {
	}
}


.chart-editor{

	.inner{
		height: 100%;
		width: 100%;
		position: relative;
	}

	.panel{
		position: absolute;	
		border: thin solid black;
	}

	.left.panel{
		min-width: 300px;
		width: 300px;
	}

	.right.panel{
	}
}

.chart {

	padding: 3em;

	.inner{
		position: relative;
	}

	.chart-image{
		height: 200px;
		margin-bottom: 1.5em;
		border-bottom: thin solid black;
		overflow-y: scroll;

		.grid-line{
			position: absolute;
			top: 0px;
			height: 100%;
			border-right: thin solid gray;

			.label{
				position: absolute;
				bottom: 0px;
				right: .2em;
			}
		}
	}

	.bar{
		border-color: blue;
		border-style: solid;
		background-color: blue;
		height: 1em;
	}
}

.single-field-selector{
	.field {
		display: none;
		
		&.selected {
			display: inherit;
		}
	}
}
