@import "rounded-corners.less";
@import "button.less";
@import "jqplot-chart.less";

@link_primary: #11c;
@link_secondary: #4272db;
@chrome_primary: #bcf;
@chrome_secondary: #e3e9ff;
@chrome_dark: #828eb2;
@fill_primary: #ebeef8;
@fill_secondary: #f2f2f2;
@fill_editable: #ffffd6;
@selected_primary: #68e;
@selected_highlight: #FF6A00;
@green_primary: #282;
@green_secondary: #3d3;
@notification_primary: #fe8;
@faint_grey: #ddd;
@light_grey: #999;
@metadata_grey: #777;
@near_black: #444;
@dialog_frame: #3a5774;
@dialog_border: #c1d9ff;
@dialog_header: #e0edfe;
@dialog_footer: #eee;

@padding_tighter: 3px;
@padding_tight: 5px;
@padding_normal: 7px;
@padding_loose: 10px;
@padding_looser: 15px;

@field_tab_h: 40px;
@tab_bw: 1px;
@tab_corner_radius: 7px;

.chart-editor{

	display: inline-block;
	border: thin solid black;
	position: relative;

	@tw: 600px;
	> .table{
		border-spacing: 0;
		width: @tw;
		height: 600px;
		> .row {
			> .cell{
			}
			height: 100%;
		}

		.bottom-row{
			height: @field_tab_h;
		}

		.middle-row .left-column{
			width: @field_tab_h;
		}

	}

	.chart-title{
		text-align: right;
	}


	.quantity-field-tab, .category-field-tab{

		background: @chrome_primary;  

		> .title-container{
			cursor: pointer;
		}

		> .body-container{
			border-color: @chrome_primary;
			border-style: solid;

			> .body{
				padding: 5px;
			}
		}
	}

	.category-field-container{
		@body_w: 160px;
		min-width: @field_tab_h;
		max-width: @field_tab_h + @body_w;
		width: @field_tab_h;
		height: 100%;
		overflow: hidden;
		position: relative;

		.category-field-tab{
			.rounded_corners_left(@tab_corner_radius);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			> .title-container{
				position: absolute;
				top: 0;
				left: 0;
				width: @field_tab_h;				
				height: 100%;

				> .rotate-container{
					position: absolute;
					left: 0;
					bottom: 0;
					overflow: hidden;

					> .title{
						height: 100%;
						width: 100%;
						text-align: center;
						padding: 7px 0;
					}
				}
			}

			.body-container{
				position: absolute;
				left: @field_tab_h;
				right: 0;
				top: @tab_bw;
				bottom: @tab_bw;
				padding-left: 5px;
				border-width: 0;
				overflow: hidden;

				.body{
					position: absolute;
					top: 0;
					left: 0;
					width: @body_w;
					height: 100%;
					background: white;
				}
			}
		}
	}


	.chart-container{

		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;

		.chart{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		.instructions{
			position: absolute;
			.rounded_corners(@tab_corner_radius);	
			border: thin solid @chrome_primary;
			background: @fill_primary;
			text-align: center;
			left: 20px;
			right: 20px;
			bottom: 40%;

			> .body{
				padding: 3em;
			}
		}

	}

	.quantity-field-container{
		@body_h: 160px;
		min-height: @field_tab_h + @tab_corner_radius;
		max-height: @field_tab_h + @tab_corner_radius + @body_h;
		height: @field_tab_h;
		width: 100%;
		overflow: hidden;
		position: relative;

		.quantity-field-tab{
			.rounded_corners_bottom(@tab_corner_radius);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			> .title-container{
				position: absolute;
				text-align: center;
				top: 0;
				left: 0;
				width: 100%;
				height: @field_tab_h;
			}

			> .body-container{
				position: absolute;
				top: @field_tab_h;
				left: @tab_bw;
				right: @tab_bw;
				bottom: @tab_corner_radius;
				overflow: hidden;
				border-width: 0 0;
				
				.body{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: @body_h;	
					background: white;
				}
			}

		}

	}

}

.rotate-270{
	-moz-transform: rotate(270deg) translate(0,100%);
	-moz-transform-origin: 0% 100%;
	-o-transform: rotate(270deg) translate(0, 100%);
	-o-transform-origin: 0% 100%;
	-webkit-transform: rotate(270deg) translate(0, 100%);
	-webkit-transform-origin: 0% 100%;

}




.single-field-selector{
	.field {
		display: none;
		&.selected {
			display: inherit;
		}
	}

	.field-picker{
		text-align: center;
	}

	.config-form-wrapper{

		.config-form{
			> .inner{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
