@import "rounded-corners.less";

.node {

	margin-bottom: 1em;
	font-size: 66%;

	.data{

		.bar{
			border-color: blue;
			border-style: solid;
			background-color: blue;
			height: 1em;
		}

	}

	&.depth0 {
	}

	&.depth1 {
		border-bottom: thin solid black;
	}

	&.depth2 {
	}
}


.chart-editor{

	> .inner{
		height: 100%;
		width: 100%;
		position: relative;
	}

	.panel{
		position: absolute;	
		border: thin solid black;
	}

	.left.panel{
		min-width: 300px;
		width: 300px;
	}

	.right.panel{
	}
}

.chart {

	@label-width: 5em;

	padding: 3em;

	> .inner{
		height: 200px;
		width: 100%;
		position: relative;

		.chart-image-wrapper{
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 1.5em;
			overflow-y: auto;
			border-bottom: thin solid black;
			> .inner{
			}
		}

		.chart-grid-wrapper{
			pointer-events: none;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;

			> .inner{
				margin-left: @label-width;
				margin-right: 0;
				height: 100%;
			}
		}
	}

	.chart-image{
		width: 100%;
		display: table;

		.row {
			display: table-row;
			height: 1em;

			.label{
				display: table-cell;
				width: @label-width;
				.text{
					width: @label-width;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
			.bar {
				display: table-cell;
				width: auto;
				position: relative;
				overflow: hidden;

				.image {
					position: absolute;
					border-color: blue;
					border-style: solid;
					background-color: blue;
					margin-top: 5%;
					margin-bottom: 5%;
				}
			}
		}

	}

	.chart-grid{
		height: 100%;
		width: 100%;
		position: relative;

		.line{
			position: absolute;
			top: 0px;
			height: 100%;
			border-right: thin solid gray;

			.label {
				position: absolute;
				bottom: 0px;
				right: .2em;
			}
		}
	}

}

.single-field-selector{
	.field {
		display: none;
		
		&.selected {
			display: inherit;
		}
	}
}
