.jqplot-chart{
	position: relative;

	> .body-container{
		@padding: 5px;
		position: absolute;
		top: @padding;
		right: @padding;
		bottom: @padding;
		left: @padding;
		overflow-y: scroll;
		overflow-x: visible;

		.body{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			font-size: 12px;
			padding: @padding;

			.jqplot-yaxis{
				z-index: 1;
			}

			.datum-label-container{
				display: inline-block;
				padding: 0 .5em;

				> .datum-label{
					display: inline-block;
					max-width: 10em;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}
	}
}
