@import url("require:tabble/jquery.ui.tabble.less");

.jqplot-chart{
  > table{
    width: 100%;
    height: 100%;
  }

  .chart-cell {
    > .chart{
      width: 100%;
      height: 100%;
    }
  }
}
