.jqplot-chart{
	position: relative;
    @xtick_w: 5em;

	> .body-container{
		@padding: 5px;
		position: absolute;
		top: @padding;
		right: @padding;
		bottom: @padding;
		left: @padding;
		overflow-y: scroll;
		overflow-x: hidden;

		.body{
			position: absolute;
			top: 0;
			left: 0;
			right: @xtick_w/2;
			font-size: 12px;
			padding: @padding;

			.jqplot-yaxis{
				z-index: 1;
			}

			.datum-label-container{
				display: inline-block;
				padding: 0 .5em;

				> .datum-label{
					display: inline-block;
					max-width: 10em;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}

            .jqplot-xaxis {
                .jqplot-xaxis-tick {
                    max-width: @xtick_w;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
		}
	}
}
