.numeric-field-config {

  font-size: 10px;

  .inputs{
    input[type="text"]{
      width: 50px;
    }
  }

  .min {
    float: left;
  }
  .max {
    float: right;
  }

  .clearfix{
    clear: both;
  }
}
