<table class="body table">
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>
            <div class="category-field-tab">
                <h3>Category Field: <span class="field-name category-field-name">---</span></h3>
                <div>
                    <div class="field-container">
                        <div class="category-field">
                        </div>
                    </div>
                </div>
			</div>
		</td>

        <td>
			<div class="chart-container">
				<div class="loading-animation">
				</div>
				<div class="chart">
				</div>
				<div class="instructions">
					<div class="body">
						Use the Category Field and Quantity Field tabs to configure the chart.
					</div>
                </div>
            </div>
        </td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td>
            <div class="quantity-field-tab">
                <h3>Quantity Field: <span class="field-name quantity-field-name">---</span></h3>
                <div>
                    <div class="field-container">
                        <div class="quantity-field">
                        </div>
                    </div>
                </div>
			</div>
        </td>
        <td></td>
    </tr>
</table>

