<table class="body table">
	<tr class="top-row row">
		<td class="left-column cell">
		</td>

		<td class="right-column cell">
			<div class="chart-title-container">
				<div class="chart-title">
					Category Field vs Quantity Field
				</div>
			</div>
		</td>
	</tr>

	<tr class="middle-row row">
		<td class="left-column cell">
			<div class="category-field-container">
				<div class="category-field-tab">
					<div class="title-container">
						<div class="rotate-container rotate-270">
							<div class="title">
								Category Field Title
							</div>
						</div>
					</div>
					<div class="body-container">
						<div class="body">
							Category Field Body
						</div>
					</div>
				</div>
			<div>
		</td>

		<td class="right-column cell">
			<div class="chart-container">
				<div class="chart">
					<img src="chart.png" style="width: 100%; height: 100%;"/>
				</div>
			</div>
		</td>
	</tr>

	<tr class="bottom-row row">
		<td class="left-column cell">
		</td>

		<td class="right-column cell">
			<div class="quantity-field-container">
				<div class="quantity-field-tab">
					<div class="body-container">
						<div class="body">
							Quantity Field Body
						</div>
					</div>
					<div class="title-container">
						<div class="title">
							Quantity Field Title
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>

</table>

