<table class="body table">

	<tr class="middle-row row">
		<td class="left-column cell">
			<div class="category-field-container">
				<div class="category-field-tab">
					<div class="title-container">
						<div class="rotate-container rotate-270">
							<div class="title">
								Category Field: <span class="category-field-name">---</span>
							</div>
						</div>
					</div>
					<div class="body-container">
						<div class="body">
							<div class="inner">
								<div class="category-field">
								</div>
							</div>
						</div>
					</div>
				</div>
			<div>
		</td>

		<td class="right-column cell">
			<div class="chart-container">

				<div class="loading-animation">
				</div>

				<div class="chart">
				</div>

				<div class="instructions">
					<div class="body">
						Use the Category Field and Quantity Field tabs to configure the chart.
					</div>
				</div>
			</div>

		</td>
	</tr>

	<tr class="bottom-row row">
		<td class="left-column cell">
		</td>

		<td class="right-column cell">
			<div class="quantity-field-container">
				<div class="quantity-field-tab">
					<div class="body-container">
						<div class="body">
							<div class="inner">
								<div class="quantity-field">
								</div>
							</div>
						</div>
					</div>
					<div class="title-container">
						<div class="title">
							Quantity Field: <span class="quantity-field-name">---</span>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>

</table>

