<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="editor-cell xaxis-editor-cell">
            <div class="editor-tab xaxis-editor-tab">
                <h3 class="editor-header"></h3>
                <div class="editor-body"></div>
            </div>
        </td>

        <td class="chart-cell">
            <div class="chart">
            </div>
        </td>

        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="editor-cell yaxis-editor-cell">
            <div class="editor-tab yaxis-editor-tab">
                <h3 class="editor-header"></h3>
                <div class="editor-body"></div>
            </div>
        </td>
        <td></td>
    </tr>
</table>
