<table>
    <tbody>
    <tr>
        <td></td>
        <td>
            <div>
                <h3></h3>
                <div></div>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <div>
                <h3></h3>
                <div></div>
            </div>
        </td>

        <td class="chart-cell">
            <div class="chart">
            </div>
        </td>

        <td>
            <div>
                <h3></h3>
                <div></div>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>
                <h3></h3>
                <div></div>
            </div>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
