<form class="config-form">
	<table>
		<tr class="min">
			<td>Min: </td>
			<td><input data-minmax="min" type="text" value="<% print((model.get('min') != null) ? model.get('min') : ''); %>"></td>
			<td>
				<input data-minmax="min" type="checkbox" id="<% print ([model.cid, 'max-auto'].join('-')); %>" />
				<label for="<% print ([model.cid, 'min-auto'].join('-')); %>">auto</label>
			</td>
		</tr>
		<tr class="max">
			<td>Max: </td>
			<td><input data-minmax="max" type="text" value="<% print((model.get('max') != null) ? model.get('max') : ''); %>"></td>
			<td>
				<input data-minmax="max" type="checkbox" id="<% print ([model.cid, 'max-auto'].join('-')); %>" />
				<label for="<% print ([model.cid, 'max-auto'].join('-')); %>">auto</label>
			</td>
		</tr>
	</table>
</form>
