<div class="max">
    <input data-attr="max" type="text" class="input max"/>
    <div class="auto max_auto">
        <input id="<% print('.' + model.cid + 'max_auto');%>" data-attr="max_auto" type="checkbox" class="input max_auto">
        <label for="<% print ('.' + model.cid + 'max_auto'); %>">auto</label>
    </div>
</div>
<div class="min">
    <input data-attr="min" type="text" class="input min"/>
    <div class="auto min_auto">
        <input id="<% print('.' + model.cid + 'min_auto');%>" data-attr="min_auto" type="checkbox" class="input min_auto">
        <label for="<% print ('.' + model.cid + 'min_auto'); %>">auto</label>
    </div>
</div>
