<div class="inner">
	<div class="field-configuration">
		<form class="config-form">
			<% if (model.get('type')) { %>
				<% if (model.get('type') == 'numerical' ) { %>
					<div class="numerical">
						<label for="<% print ([model.id, 'min'].join('-')); %>">min: </label><input id="<% print ([model.id, 'min'].join('-')); %>" name="min" type="text" value="<% print(model.get('min')); %>">
						<label for="<% print ([model.id, 'max'].join('-')); %>">max: </label><input id="<% print ([model.id, 'max'].join('-')); %>" name="max" type="text" value="<% print(model.get('max')); %>">
					</div>
				<% } else {%>
					<div class="unconfigurable">No configuration options for this type of field.</div>
				<% } %>
			<% } %>
		</form>
	</div>
</div>
